@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

// html, body
// 	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	// background-color: #f9e7c7
	background-image: url(../img/bg.png)

header
	font-weight: 500
	line-height: 1.1
	font-size: 120px
	display: inline-block
	margin-bottom: 20px

.img-responsive
	display: block
	max-width: 100%
	height: auto

.container-fluid
	margin-left: 25px
	margin-right: 25px

	>.row
		border-bottom: 1px solid grey

img
	margin: 0 auto

p
	border-right: 1px solid grey
	font-size: 13px
	line-height: 18px
	padding: 0 30px 0 0
	text-align: justify
	&:first-letter
		color: blue
		font-size: 18px
		padding: 2px
		font-weight: bold

.row
	div:last-child
		.content
			p
				border: 0

.contents
	h3
		background-color: #a7c1c0
	p
		padding: 0 30px
	div:last-child
		p
			border: 0

.content
	a
		color: #333
		transition: all .3s ease
		&:focus
				outline: 0
				text-decoration: none
	&:hover, &:focus
		a
			color: #000
			transition: all .3s ease
			text-decoration: none		
	img
		float: right
		padding: 10px 30px 5px 10px
		max-width: 230px
		height: auto
	.citation
		font-size: 26px
		line-height: 44px
		text-align: center
		font-weight: 400
		display: block
		margin: 40px 0 40px 0
		font-feature-settings: "liga", "dlig"
		&::before
			border-top: 1px solid #2f2f2f
			content: ''
			width: 100px
			height: 16px
			display: block
			margin: 0 auto
		&::after
			border-bottom: 1px solid #2f2f2f
			content: ''
			width: 100px
			height: 16px
			display: block
			margin: 0 auto


.embed-responsive iframe 
	padding-bottom: 20px
.col-count-2
	column-count: 2
	column-gap: 25px
.col-count-3
	column-count: 3
	column-gap: 20px
.col-count-4
	column-count: 4
	column-gap: 30px
	column-width: 200px


// modal
.modal
	padding-right: 0px !important
	&-dialog 
		width: 100%
		margin: 0 auto
	&-content
		box-shadow: none
		border: 0
		border-radius: 0

.modal-body
	// padding: 2vw
	overflow-y: auto
	max-height: 85vh
	.row
		border: 0
	p
		font-size: 16px
		line-height: 25px
		padding: 0
		border: 0
		img
			float: left
			padding: 0 15px 5px 0
.close
	font-size: 35px
.modal-backdrop
	background-color: #fff
.modal-backdrop.in
	opacity: 1

@import "media" // End
